@import url('reset.css');
@import url('header.css');
@import url('footer.css');
@import url('phone.css');

.mid{
    width: 1265px;
    margin:0 auto;
}
.mid h1{
    border: 8px solid rgb(152, 128, 102);
    border-left: 40px solid rgb(152, 128, 102);
    border-right: 40px solid rgb(152, 128, 102);
    font-size: 50px;
    width: 800px;
    line-height: 80px;
    color: rgb(152, 128, 102);
    text-align: center;
    margin: 50px auto;   
}
/*-----------風格企劃 三種格圖------------*/
.mid ul{
    display:flex;
    width: 100%;
    height: 575px;
    padding-left: 0;
}
.mid li{
    list-style: none;
    background-size: cover;
    background-position: center center;
    transition: .5s;
    display: block;
}

.mid .item1{
    background-image: url(../img/鄉村風.png);
    flex-grow: 0.8;
    position: relative;
    z-index: 3;
}

.mid .item2{
    background-image: url(../img/ins風.jpg);
    flex-grow: 1;
}

.mid .item3{
    background-image: url(../img/69617082_155831212170513_5815654682313592726_n.jpg);
    flex-grow: 0.8;
    position: relative;
}
.mid li:hover{
    flex-grow: 2.5;
}

/*-----------風格風格圖上文字------------*/
.mid ul{
    position: relative;
}

.mid ul li a{
    text-decoration: none;
    font-size: 26px;
    line-height: 50px;
    padding: 0 15px;
    color: rgb(179, 134, 86);
    font-weight: bold;
    background-color: whitesmoke;
}

.item1 a{
    position:absolute;

    top: 500px;
    left: 10px;
}
.item2 a{
    position:absolute;

    top: 500px;
    left: 560px;
}
.item3 a{
    position:absolute;

    top: 500px;
    right: 10px;
}
.mid ul li:hover a{
    background-color:rgb(179, 134, 86);
    color: white;
    font-size: 30px;
}
/*-----------風格風格圖上線條------------*/
.mid .item1 p{
    border-left: 4px solid white;
    height: 500px;
    margin-top: 20px;
    margin-left: 10px;
}
.mid .item3 p{
    border-right: 4px solid white;
    height: 500px;
    margin-top: 20px;
    margin-right: 10px;
}
/*-----------居家風格商品背景------------*/
.commodity{
    width: 1265px;
    height: 475px;
    margin:0 auto;
    text-align: center;
}
.commodity ul{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-flex ;
    
    padding-left: 6px;
    
}
.commodity ul li:first-child{
    margin-left: 0;
}
.commodity li{
    display: inline-block;
    background-color: whitesmoke;
    width: 300px;
    height: 360px;
    margin-left: 16px;

    position: relative;
}
.commodity ul li ol{
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.commodity .more{
    text-decoration: none;
    font-size: 28px;
    border-radius: 5px;
    background-color: rgb(179, 134, 86);
    line-height: 40px;
    padding: 0 10px;
    color: white;
}
.commodity .more:hover{
    background-color: rgb(101, 186, 101);
    color: white;
    border-radius: 5px;
}
/*-----------商品文字圖片------------*/
.commodity li h2{
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 22px;
    line-height: 60px;
    color: rgb(152, 128, 102);
}
.commodity ol a{
    text-decoration: none;
    color: rgb(179, 134, 86);
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    font-weight: bold;
    width: 300px;
    height: 60px;
    line-height: 2.5;
    display: none;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.commodity li:hover a{
    display: block;
}
/*-----------商品圖------------*/
.commodity .back{
    width: 300px;
    height: 600px;
}
.commodity .top .back{
    background-image: url(../img/ttt-1.png);
}
.commodity .top:hover .back{
    position: absolute;
    bottom:1px;
}
.commodity .top2 .back{
    background-image: url(../img/top2-1.png);
}
.commodity .top2:hover .back{
    position: absolute;
    bottom:1px;
}
.commodity .top3 .back{
    background-image: url(../img/top3-1.png);
}
.commodity .top3:hover .back{
    position: absolute;
    bottom: 0;
}
.commodity .top4 .back{
    background-image: url(../img/top4-1.png);
}
.commodity .top4:hover .back{
    position: absolute;
    bottom: 0;
}
/*---------------熱門商品精選文字---------------*/
.text{
    width: 1265px;
    margin:0 auto;
}
.text h1{
    border: 8px solid rgb(152, 128, 102);
    border-left: 40px solid rgb(152, 128, 102);
    border-right: 40px solid rgb(152, 128, 102);
    font-size: 50px;
    width: 800px;
    line-height: 80px;
    color: rgb(152, 128, 102);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;

}
/*---------------熱門商品基本架構---------------*/
.under{
    width: 1265px;
    margin:0 auto;
    margin-bottom: 20px;
}
.under ul{
    text-align: center;
    padding-left: 90px;
    padding-right: 100px;
}
.under li{
    width: 300px;
    height: 360px;
    background-color: whitesmoke;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
}
.under li h2{
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 22px;
    line-height: 60px;
    color: rgb(152, 128, 102);
}
.under ul li ol{
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.under li ol a{
    text-decoration: none;
    color: rgb(179, 134, 86);
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    font-weight: bold;
    width: 300px;
    height: 60px;
    line-height: 2.5;
    display: none;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*---------------熱門商品 HOVER的部分---------------*/
.under li:hover a{
    display: block;
}
/*---------------熱門商品圖片---------------*/
.under .back{
    width: 300px;
    height: 600px;
}
.under .hot .back{
    background-image:url(../img/under.hot/hot1-1.png);
}
.under .hot:hover .back{
    position: absolute;
    bottom:1px;
}
.under .hot2 .back{
    background-image: url(../img/under.hot/hot2-1.png);
}
.under .hot2:hover .back{
    position: absolute;
    bottom:1px;
}
.under .hot3 .back{
    background-image: url(../img/under.hot/hot3-1.png);
}
.under .hot3:hover .back{
    position: absolute;
    bottom:1px;
}
.under .hot4 .back{
    background-image: url(../img/under.hot/hot4-1.png);
}
.under .hot4:hover .back{
    position: absolute;
    bottom:1px;
}
.under .hot5 .back{
    background-image: url(../img/under.hot/hot5-1.png);
}
.under .hot5:hover .back{
    position: absolute;
    bottom:1px;
}
.under .hot6 .back{
    background-image: url(../img/under.hot/hot6-11.png);
}
.under .hot6:hover .back{
    position: absolute;
    bottom:1px;
}


